<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/index-navbar.css" rel="stylesheet"/>
    <link href="../css/RegistrationAndLoginForm.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.css" />
    <link rel="stylesheet" href="../css/addProduct.css"/>
    <link rel="stylesheet" href="../css/index-page.css"/>
    <title>Music Shop</title>
</head>
<body>
<footer th:fragment="footer" class="font-small page-footer fixed-bottom">
    <div class="text-center">
        © 2019-2020 Copyright
    </div>
</footer>
</body>
</html>