<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/index-navbar.css" rel="stylesheet"/>
    <link href="../css/RegistrationAndLoginForm.css" rel="stylesheet"/>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="webjars/font-awesome/5.12.0/css/all.css" />
</head>
<body>
    <header class="header" th:fragment="header">
        <nav class="navbar navbar-expand-md" th:fragment="menu-top">
            <div class="container-fluid">
                <a class="navbar-brand ml-5" th:href="@{/}">
                    <i class="fab fa-itunes-note"></i>
                    <span class="">MUSIC SHOP</span>
                </a>
                <div class="justify-content-end mr-3">
                    <div class="navbar-nav mr-auto">
                        <div class="nav-item nav-log-in">
                            <form class="form-inline my-2 my-lg-0 d-none d-lg-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                        <div class="nav-log-in"  sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}">
                                <span class="d-none d-lg-inline nav-link ">Sign Out</span>
                                <i class="fas fa-sign-out-alt nav-link"></i>
                            </a>
                        </div>
                        <div class="nav-log-in" sec:authorize="isAnonymous()">
                            <a th:href="@{/login}">
                                <span class="d-none d-lg-inline nav-link ">Sing In</span>
                                <i class="fas fa-user nav-link"></i>
                            </a>
                        </div>
                        <div class="nav-log-in">
                            <a href="#">
                                <span class="d-none d-lg-inline nav-link">Shopping Cart</span>
                                <i class="fas fa-shopping-cart nav-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navigation" th:fragment="menu-left">
            <section class="logo"></section>
            <section class="navigation_icon">
                <span class="topBar"></span>
                <span class="middleBar"></span>
                <span class="bottomBar"></span>
            </section>

            <ul class="navigation_ul">
                <li><a href="">INSTRUMENTS</a></li>
                <li><a href="">SALES</a></li>
                <li><a href="">BRANDS</a></li>
                <li><a href="">ACCESSORIES</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>
    </header>
<div th:fragment="scriptSection">
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/index-navbar.js"></script>
</div>
</body>
</html>