.index-page-products{
    width: 80%;
    margin-left: 270px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.card-products{
    width: 18rem;
}

.card-img-top{
    width:auto;
    max-height: 100%;
    display:block;
    margin:auto;
}
.img-div-index{
    display: table-cell;
    height: 300px;
    width: 300px;
    vertical-align: middle;
    padding: 0px 20px;
}