<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">
    <title id="pageTitle">Main</title>
</head>
<body>
    <th:block th:insert="fragments/header :: header"></th:block>
<div class="sign-in">
    <div class="container-login">
        <div class="wrap-login">
            <!--/*@thymesVar id="product" type="com.allnnka.firstspringproject.model.Product"*/-->
            <form th:object="${product}" th:action="@{/addProduct}" method="post" class="col-lg-12 my-3" autocomplete="off">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input th:field="*{productName}" name="productName" type="text" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input th:field="*{producer}" class="form-control" placeholder="Producer">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input th:field="*{amount}" class="form-control" type="number" placeholder="Amount">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect">Type of instrument</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect">
                        <option value="jakisTemperament">some </option>
                        <option value="1">some 1</option>
                        <option value="2">some 2</option>
                        <option value="3">some 3</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input th:field="*{price}" class="form-control" type="number" placeholder="Price">
                    </div>
                </div>
                <div class="wrap-input mb-3">
                    <textarea th:field="*{description}" class="input" placeholder="Description..."></textarea>
                    <span class="focus-input"></span>
                </div>
                <div class="container-addProduct-form-btn">
                    <button class="addProduct-form-btn">
                            <span>
                               Create Product
                            </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="fragments/header :: scriptSection"></th:block>
</body>
</html>