<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">
    <title id="pageTitle">Registration</title>
</head>
<body>
<header>
    <th:block th:insert="fragments/header :: menu-top"></th:block>
</header>
<div class="sign-in">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-pic js-tilt">
                <img src="images/music-instrument.jpg" alt="IMG">
            </div>
            <form class="login-form validate-form" th:action="@{/registration}" method="post">
                <span class="login-form-title">
                SIGN UP
                </span>
                <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input" type="email" name="email" placeholder="Email">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input" type="text" name="username" placeholder="Username">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input validate-input" data-validate="Password is required">
                    <input class="input" type="password" name="password" placeholder="Password">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                         <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input validate-input" data-validate="Password is required">
                    <input class="input" type="password" name="pass" placeholder="Confirm password">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                         <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="container-login-form-btn">
                    <button class="login-form-btn" type="submit" name="registration">
                        SIGN UP
                    </button>
                </div>
                <div class="text-center p-t-136">
                    Have already an account ?
                    <a class="txt2" th:href="@{/login}">
                        Login here
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="fragments/header :: scriptSection"></th:block>
</body>
</html>